.select1{
    border: 1px solid white;
}
.select-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.select1Component{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width:800px){
    .select-container h4{
        display: none;
    }
}