.compare_heading{
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.compare_pages{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.select_dayz{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    flex-wrap: wrap; 
}
.two_listComponents{

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.two_chartCcontainer{
    padding: 1.5rem 1rem;
    background-color: #1d1d1d;
    border-radius: 1rem;
}
.two_discriptions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (max-width:800px){
    .compare_heading{
        flex-wrap: nowrap;
    }
    .select_dayz{
        flex: 1;
    }
    .compare_pages{
        padding: 1rem 3rem;
    }
}
@media screen and (max-width:600px){
    .compare_pages{
        padding: 1rem;
    }
    .compare_heading{
        flex-direction: column;
    }
}
@media screen and (max-width:500px){
    .two_chartCcontainer{
        padding: 1.5rem 0rem;
    }
}