.select_days{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
.select_days p{
    width: 100%;
}
@media screen and (max-width:800px){
    .select_days p{
        display: none;
    }
}